<div id="root">
	<h2 class="main-title">Welcome to Found Sounds!</h2>
	<content class="mix-tape-parent clrfix">
		<img class="mix-tape" src="https://img1.etsystatic.com/006/1/5174672/il_570xN.385989055_nvp7.jpg">
		<h4 class="coming-soon">Coming November 11th</h4>
	</content>

	
</div>