$serif: georgia,"times new roman",times,serif;
$sans-serif: arial, helvetica, sans-serif;
$medium-title: 1.5em;
$medium-large-title: 1.75em;
$medium-main: 1.25em;
$small-main: 1.15em;	
$small-paragraph: 1.1em;