html {
	position: relative;
	height: 100%;
}

body {
	/*width: 80%;*/
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
	text-align: center;

}

.main-title {
	padding-top: 10%;
	margin-bottom: 0;
	font-size: 3em;
	font-family: 'Pacifico', cursive;
	/*-webkit-font-smoothing: antialiased;*/
}


#map-container {
	// width: 800px;
	height: calc(100vh);
}


.mix-tape-icon {
	width: 10%;
}

.interactive-map-container {

	// position: relative;
	// top: 3px;
	display: block;
	float: left;
}

.side-bar-parent {
	height: calc(100vh);
	overflow: scroll;
	// position: relative;
	// top: 2px;
	// background-color: #FDFDFD;
	background: transparent;
	display: block;
	float: right;
}

.side-bar-content {
	position: relative;
	top: 70px;
	// margin: 10px;
	// padding: 10px;
}



.artist-info {
	font-size: $small-main;
	font-family: 'Sailec Regular', sans-serif;
	margin: 8px;
}
.venue-address {
		font-size: $small-main;
		font-family: 'Sailec Regular', sans-serif;
		margin: 8px;
}

.link-side-bar-box>ul>li {
	cursor: pointer;	
}

// .venue-link {
// 	cursor: pointer;
// }

// .venue-link:hover {
// 	color: $pastel-red;
// 	border: 1px solid $pastel-red;
// 	box-shadow: 1.5px 1.5px 1.5px darkgrey;
// 	transition: .25s;
// }

.show-information>.show-date {
	margin: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	border: 1px solid lightgrey;
	border-radius: 2px;
	background-color: white;
	-webkit-box-shadow: 0 0 1px hsla(0,0%,100%,.5);
}

.link-side-bar-box>ul>li:hover {
	color: $pastel-red;
	border: 1px solid $pastel-red;
	// box-shadow: 1.5px 1.5px 1.5px darkgrey;
	transition: .25s;

	.artist-image-container {
		border-bottom: 1px solid $pastel-red;
		transition: .25s
	}
}

.side-bar-box {
	margin: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding: 10px;
	border: 1px solid lightgrey;
	background-color: white;
	-webkit-box-shadow: 0 0 1px hsla(0,0%,100%,.5);
}

h3 {
	font-size: $medium-title;
	font-family: 'Pacifico', cursive;
}

h3.shows {
	font-size: $medium-large-title;
	font-family: 'Pacifico', cursive;
}




h4 {
	font-size: $medium-main;
	font-family: 'Sailec Regular', sans-serif;
	margin-bottom: 11px;
}

label {
	font-size: $small-main;
	font-family: 'Sailec Regular', sans-serif;
	margin-bottom: 5px;
}

.date-picker {
	font-size: $medium-main;
	font-family: 'Sailec Regular', sans-serif;
	border-bottom: 1px solid $border-grey;
	width: 100px;
	margin: 15px;
	margin-top: 5px;
}

.input-date-border {
  display:block;
  width:0px;
  height: 2px;
  background: $light-purple;
  position: relative;
  top:-17px;
  left: 0px;
  -webkit-transition: all ease-in-out .30s;
  -o-transition: all ease-in-out .30s;
  transition: all ease-in-out .30s;
  margin: 0;
}

.react-datepicker__input-container:hover+.input-date-border{
  width:100%;
}

.date-input-container {
	width: 130px;
	margin: auto;
}


.react-datepicker__month .react-datepicker__day.react-datepicker__day--in-range {
		background-color: $light-purple;
 	}

.react-datepicker__month.react-datepicker__month--selecting-range .react-datepicker__day.react-datepicker__day--in-selecting-range {
	background-color: $lightest-purple ;
}

.react-datepicker__month.react-datepicker__month--selecting-range .react-datepicker__day.react-datepicker__day--in-range.react-datepicker__day--in-selecting-range {
	background-color: $light-purple ;
}

.react-datepicker__month.react-datepicker__month--selecting-range .react-datepicker__day.react-datepicker__day--selecting-range-start.react-datepicker__day--in-selecting-range{
	background-color: $dark-purple;
}

.react-datepicker__month.react-datepicker__month--selecting-range .react-datepicker__day.react-datepicker__day--selected.react-datepicker__day--range-start.react-datepicker__day--in-range {
	background-color: $lightest-purple ;
}

.react-datepicker__header {
	background-color: white !important;
}

.react-datepicker__current-month {
	font-family: 'Sailec Regular', sans-serif;
}

.react-datepicker__day-names {
	font-family: 'Sailec Regular', sans-serif;
}

.react-datepicker__month {
	font-family: 'Sailec Regular', sans-serif;
}

.attendence-button-group {
	display: flex;
	justify-content: space-between;
	align-content: center;
}


.user-show-button {
	width: 150px;
	border: 1px solid lightgrey;
	margin: 5px;
	position: relative;
	height: 40px;
}

.user-show-button:hover {
	color: $pastel-red;
	border: 1px solid $pastel-red;
	cursor: pointer;
	transition: .15s
}

.user-show-button.selected-button {
	color: $light-purple;
	border: 1px solid $light-purple;
}

.user-show-button.selected-button:hover {
	color: $pastel-red;
	border: 1px solid $pastel-red;
	cursor: pointer;
	transition: .15s
}


.absolute-show-button {
	position: absolute;
	margin: auto;
	width: inherit;
	height: inherit;
}

.hidden-login-button {
	position: relative;
	top: 0;
	left: 0;
	width: 150px;
	height: 40px;
	opacity: 0;
}

.artist-venue-name {
	margin: 1em;
}


@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {     -webkit-font-smoothing: subpixel-antialiased; }

