html {
	position: relative;
	height: 100%;
}

body {
	/*width: 80%;*/
	margin: 0 auto;
	font-family: $serif;
	font-size: 12px;
	text-align: center;

}

.main-title {
	padding-top: 10%;
	margin-bottom: 0;
	font-size: 3em;
	font-family: 'Pacifico', cursive;
	/*-webkit-font-smoothing: antialiased;*/
}

.mix-tape-parent {
	display: inline-block;
	position: relative;
	z-index: -100
}


.coming-soon {
	position: absolute;
	left: 235px;
	bottom: 242px;
	color: #333333;
	font-family: 'Patrick Hand SC', cursive;
	/*-webkit-font-smoothing: antialiased*/
}

#map-container {
	// width: 800px;
	height: calc(100vh);
}


.mix-tape-icon {
	width: 10%;
}

.interactive-map-container {

	// position: relative;
	// top: 3px;
	display: block;
	float: left;
}

.shows-by-day-parent {
	height: calc(100vh);
	// position: relative;
	// top: 2px;
	display: block;
	float: right;
}

.show-by-day-group {
	position: relative;
	top: 70px;
	margin: 10px;
	padding: 10px;
}



@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {     -webkit-font-smoothing: subpixel-antialiased; }

