.main-nav-bar {
	z-index: 1000;
	position: fixed;
 	display: flex;
 	flex-direction: row;
 	justify-content: space-between;
 	height: 55px;
 	width: 100%;
 	background: white;
 	align-items: center;
 	bottom-border: 1px solid #e7e7e7;
 	background-color: hsla(0,0%,100%,.95);
 	box-shadow: 0 2px 4px 0 rgba(73,73,73,.1);
 }

 .main-nav-bar .header-link {

 		padding-left: 15px;
 		font-family: 'Pacifico', cursive;
 		font-size: 25px;
 }

 .header-group {
 	display: block;
 	
 	/*justify-content: space-between;*/
 	/*min-width: 350px;*/
 }

 .header-name {
 	display: block;
 	float: left;
 	padding-right: 8px;
 	font-family: 'Sailec Regular', sans-serif;
 	font-size: $medium-main;
 	margin-top: 8px;
 }

 .header-button {
 	display: block;
 	float: left;
 	border-left: 1px solid grey;
 	padding-left: 8px;
 	padding-right: 8px;
 	font-family: 'Pacifico', cursive;
 		font-size: $medium-large-title;
 }
