.ReactModal__Content--after-open {
		width: 500px;
	 	height: 625px;
	 	margin: 0 auto;
	 	margin-top: 50px;
	 	transition: width 1000ms ease-in;
 }

 .ReactModal__Overlay--after-open {
 	z-index: 500 !important;
 }


