.ReactModal__Content--after-open {
		width: 500px;
	 	height: 625px;
	 	margin: 0 auto;
	 	margin-top: 50px;
	 	transition: width 1000ms ease-in;
	 	box-shadow: 0 18px 27px 0 rgba(0,0,0,.1);
	 	-webkit-box-shadow: 0 18px 27px 0 rgba(0,0,0,.1);
 }

 .ReactModal__Overlay--after-open {
 	z-index: 1000 !important;
 }


