.show-date-list {
	text-decoration: underline;
	font-size: $medium-title;
}

.show-item-in-list {
	font-size: $small-main;
	font-family: 'Sailec Regular', sans-serif;
	margin: 10px;
	cursor: pointer;
}

.show-item-in-list:hover {
	color: $lightest-purple;
	cursor: pointer;
	transition: .15s
}

.no-shows-image {
	width: 250px;
	height: 181px;
	margin: auto;
}

.cssload-container {
	margin: 25px;
	width: 100%;
	height: 50px;
	text-align: center;
}

.cssload-double-torus {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border: 3px double;
	border-radius: 50%;
	border-color: transparent rgba(211,211,211,0.88) rgba(211,211,211,0.9);
	animation: cssload-spin 690ms infinite linear;
		-o-animation: cssload-spin 690ms infinite linear;
		-ms-animation: cssload-spin 690ms infinite linear;
		-webkit-animation: cssload-spin 690ms infinite linear;
		-moz-animation: cssload-spin 690ms infinite linear;
}



@keyframes cssload-spin {
	100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
	100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
	100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
	100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
	100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}