.artist-list-show-box {
	width: inherit;
	margin-bottom: 14px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid lightgrey;
	padding: 4px;
	border-radius: 3px;
	background-color: white;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	-webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
	display: flex;
	justify-content: space-between;
}

.artist-small-image-container {
	display: block;
	position: relative;
	/*min-height: 200px;*/
}

.artist-small-image {
	position: relative;
	z-index: 100;
	max-width: 150px;
}

.hidden-small-image {
	position: absolute;
	top: 11%;
	z-index: 50;
	max-width: 150px;
}

.small-show-info {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	height: inherit;
	margin: auto;
	max-width: 50%;

}

.small-artist-name {
	font-family: 'Sailec Regular', $sans-serif, sans-serif;
	padding-bottom: 15px;
	border-bottom: 1px solid lightgrey;
}

b {
	font-family: 'Sailec Regular', $sans-serif, sans-serif;
	font-size: $medium-main;
}

.artist-list-show-box:hover {
	border: 1px solid $lightest-purple;
	cursor: pointer;
	transition: border 0.15s ease-in;

	.small-artist-name {
		color: $light-purple;
		transition: color 0.15s ease-in;
	 }

	.small-venue-name {
		color: $light-purple;
		transition: color 0.15s ease-in;
	}
}


@media all and (max-width: 1000px) {
	.artist-list-show-box {
	  margin-bottom: 0px;
	  box-shadow: 0 0 0;
	  webkit-box-shadow: 0 0 0; 
	  justify-content: space-around;
	  }

	  .small-show-info {
	  	// margin: 10px;
	  	font-size: 25px;
	  }

	  .artist-small-image {
	  	max-width: 300px;
	  }

	  .hidden-small-image {
	  	max-width: 300px;
	  }

	  h3 {
	  	-webkit-margin-before: 0.5em;
	  	-webkit-margin-after: 0.5em;
	  }

	  .show-date-list {
	  	font-size: 25px;
	  }
}
