div {
	text-align: center;	
	width: 900px;
	margin: 0 auto;
}

.main-title {
	padding-top: 10%;
	margin-bottom: 0;
	font-size: 3em;
	font-family: 'Pacifico', cursive;
	/*-webkit-font-smoothing: antialiased;*/
}

.mix-tape-parent {
	display: inline-block;
	position: relative;
	z-index: -100
}


.coming-soon {
	position: absolute;
	left: 235px;
	bottom: 242px;
	color: #333333;
	font-family: 'Patrick Hand SC', cursive;
	/*-webkit-font-smoothing: antialiased*/
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {     -webkit-font-smoothing: subpixel-antialiased; }

